@{
    ViewData["Title"] = "Home Page";
}

@model Category

<div class="text-center">
    <div class="container px-4">
        <h1 class="display-4">@Model.Name</h1>
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">
                    <h3>Categories</h3>
                    @{
                        foreach (ProductAndCategory p in Model.ProductsList)
                        {
                            <h5 class="card-title">@p.Product.Name</h5>
                        }
                    }
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <h3>Add to Category</h3>
                    <form action="/addToCategory" method="post">
                        <div class="form-group">
                            <select name="ProductId" class="form-control">
                                @{
                                    foreach (Product p in ViewBag.AllProducts)
                                    {
                                        if (!Model.ProductsList.Any(s => s.ProductId == p.ProductId))
                                        {
                                            <option value="@p.ProductId">@p.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <input type="hidden" name="CategoryId" value="@Model.CategoryId">
                        <div class="form-group">
                            <input type="submit" value="Add to category" class="btn btn-warning">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>