

@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 border bg-light">

                    <h1>Successfully Registered!</h1>

                        <div class="mb-3">
                            <label for="userFirstName" class="form-label">First Name:  @Model.userFirstName</label>

                        </div>
                        <div class="mb-3">
                            <label for="userLastName" class="form-label">Last Name:  @Model.userLastName</label>

                        </div>
                        <div class="mb-3">
                            <label for="userAge" class="form-label">Age:  @Model.userAge</label>

                        </div>

                        <div class="mb-3">
                            <label for="userEmail" class="form-label">Email Address:  @Model.userEmail</label>

                        </div>
                        <div class="mb-3">
                            <label for="userPassword" class="form-label">Password  @Model.userPassword</label>

                        </div>

                </div>
            </div>
        </div>
    </div>